{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> Check App</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat consectetur facilis rem, veritatis delectus ad dolore maxime obcaecati consequuntur mollitia quasi, temporibus ipsa quo velit corporis ratione unde perspiciatis eos repellendus quam nam asperiores enim provident et. Eius laborum beatae in repellat eos nihil esse quisquam nobis? Recusandae cumque ipsum quam eligendi vitae dignissimos aliquam praesentium animi repellendus nesciunt, laborum labore quaerat itaque, velit quod mollitia dolor! Delectus possimus voluptatibus necessitatibus ex optio! Eius sit rem nam voluptates tenetur omnis vitae! Maiores sequi totam voluptatibus dolorum accusamus? Quod autem, eligendi unde ipsam laudantium accusantium pariatur ut aut, nostrum rerum eos.</p>
        </section>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">    
                Entrar
            </a>
            <a class="btn btn-dark" href="/signup/">    
                Registrarse
            </a>
        </div>

</main>

{% endblock %}